@font-face {
  font-family: Volkhov-regular;
  src: url(../Volkhov-Regular.ttf);
}
@font-face {
  font-family: Bolder;
  src: url(../Volkhov-Bold.ttf);
}
* {
  font-family: Volkhov-regular;
  padding: 0;
  margin: 0;
}

.header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
/* .header .nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: 70px;
} */
.fix-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
/* test */

.container {
  max-width: 1280px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.header .navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header .navbar-brand {
  font-size: 32px;
  color: #fb811e;
  padding: 0px;
  position: relative;
}
.header .navbar-brand i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
}
.header .navbar form {
  margin: 0 10px 0 10px;
}
.header .navbar ul {
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fb811e;
}
.header .navbar .moon:hover {
  color: #fb811e;
}

.carousel {
  position: relative;
}
.carousel .carousel-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.carousel-left h2 {
  color: rgb(244 244 244);
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
}

.carousel-right {
  height: 100%;
}

.carousel .carousel-text h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}
.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: rgba(251, 129, 30);
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: 0.4s;
}
.btn-style:hover {
  background: rgb(0 159 77);
}
.features .feat-content {
  display: flex;
  align-items: center;
}

.features .feat-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.features h5 {
  color: rgb(251, 129, 30);
}
.features h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.features .feat-right .feat-item {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem hsl(0deg 0% 0% / 3%);
  background-color: white;
}
.features .feat-right .feat-item img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.features .feat-right a {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: black;
}
.features .feat-right .feat-item:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.service {
  background: rgb(0, 197, 77);
}
.service .service-tittle {
  position: relative;
}
.service .service-tittle h5 {
  font-size: 22px;
  color: white;
}
.service .service-tittle h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: white;
}
.service .service-tittle p {
  font-size: 1.25rem;
  font-weight: 300;
  color: white;
}
.service h4 {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 10;
  opacity: 0.14;
  font-size: 10vw;
  right: 50%;

  bottom: 50%;
  transform: translate(50%, 50%);
}

.service .service-content {
  display: flex;

  justify-content: center;
  width: 100%;
}
.service .service-content .service-item {
  padding-right: 20px;
  width: 100%;
}
.service .service-content .service-item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
.service .service-content .service-item .service-item-bot {
  background: white;

  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid rgb(238, 238, 238);
  border-top: none;
}
.service .service-content .service-item .service-item-bot span {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
.service .service-content .service-item .service-item-bot a {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: black;
  margin: 15px 0;
  text-decoration: none;
}

.whyUs .whyUs-content {
  display: flex;
}
.whyUs .whyUs-content .whyUs-text {
  padding: 0 20px;
}
.whyUs .whyUs-content .whyUs-text h5 {
  color: rgb(251, 129, 30);
}
.whyUs .whyUs-content .whyUs-text h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.whyUs .whyUs-text .whyUs-info {
  display: flex;
  justify-content: space-between;
}
.whyUs .whyUs-img {
  position: relative;
}
.whyUs .whyUs-img img {
  border-radius: 30px;
  /* height: 90%; */
}
.whyUs .whyUs-img .whyUs-box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.whyUs .whyUs-img .imginfo__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}

.activity .activity-item .unit {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  transition: 0.4s ease-in;
}
.activity .activity-item .unit:hover {
  border: 1px solid #eee;
}
.activity .activity-item .unit:hover h4 {
  color: #009f4d;
}

.activity .activity-item .unit img {
  width: 60px;
}

.activity .activity-item .unit h4 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: #060606;
}
.activity .activity-item .unit p {
  margin-top: 10px;
  color: #707070;
}
/* .activity .activity-item {
  border: 1px solid white;
  transition: 0.4s;
} */

.gallery {
  margin-bottom: 1.5em;
  display: grid;
}

.gallery .column {
  padding-left: 0;
  padding-right: 0;
}

.gallery .gallery-tittle h5 {
  color: #fb811e;
  font-size: 22px;
}
.gallery .gallery-tittle h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}
.gallery .gallery-item {
  position: relative;
  overflow: hidden;
}
.gallery .gallery-item img {
  width: 100%;
}
.gallery .gallery-item h5 {
  position: absolute;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}
.gallery .gallery-item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -75%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-17deg);
  transition: all 0.75s;
}
.gallery .gallery-item:hover:before {
  left: 100%;
}

.story {
  background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg1.jpg);
  position: relative;
}
.story:before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
}
